body {
	background-color: #e6f7ff;
	padding-left: 10%;
}

h3 {
	margin-bottom: 0px;
}

#rawData {
	display: none;
}

#enemy th,td {
	text-align: center;
}

#equipment {
	border-collapse: collapse;
}

#instructions {
	display: inline-block;
	background-color: #baddf7;
	border: 2px solid #1c90e5;
	min-width: 50%;
	padding: 2px;
	margin: 4px;
}

.str, .st, .sl, .cr {
	background-color: #ffeb99;
}

.m, .ma {
	background-color: #b3ccff;
}

.r, .ra {
	background-color: #9fff80;
}

#pickStyle button, #sim {
	font-family: Arial;
	color: #000000;
	font-size: 33px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

#pickMelee {
	background: #ffeb99;
}

#pickRange {
	background-color: #9fff80;
}

#pickMagic {
	background-color: #b3ccff;
}

#baseStats span {
	display: block;
}

#baseStats select, #prayer select {
	min-width: 200px;
}

#attackStyle form {
	display: inline-block;
}

.enclose, .pick {
	display: inline-block;
	background-color: #ffffe6;
	border: 2px solid #ffe6cc;
	padding: 2px;
	margin: 4px;
}

#simulation {
	background-color: white;
	border: 2px solid #00ff00;
	padding: 4px;
}