#rawData {
	display: none;
}

#enemy th,td {
	text-align: center;
}

#equipment {
	border-collapse: collapse;
}

.str, .st, .sl, .cr {
	background-color: #ffeb99;
}

.m, .ma {
	background-color: #b3ccff;
}

.r, .ra {
	background-color: #9fff80;
}

#pickStyle button, #sim {
	font-family: Arial;
	color: #000000;
	font-size: 33px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

#pickMelee {
	background: #ffeb99;
}

#pickRange {
	background-color: #9fff80;
}

#pickMagic {
	background-color: #b3ccff;
}

#baseStats span {
	display: block;
}

#baseStats select, #prayer select {
	min-width: 200px;
}





/*
section {
	display: inline-block;
	background-color: #e6fff5;
}
*/